<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/members">Members</a></li>
        <li><a href="/instructors">Instructors</a></li>
        <li><a href="/teams">Teams</a></li>
        <li><a href="/sessions">Sessions</a></li>
    </ul>
</nav>
